@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
:root {
  --primary: #eeeeee;
  --secondary: #227c70;
  --green: #82cd47;
  --secondary-light: rgb(34, 124, 112, 0.2);
  --secondary-light-2: rgb(127, 183, 126, 0.1);
  --white: #fff;
  --black: #393e46;
  --special: #e0b0ff;

  --shadow: 0px 2px 8px 0px var(--secondary-light);
}
::selection {
  background-color: white; 
  color: black;
}
.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: var(--black);
  padding: 0 8%;
  box-shadow: var(--shadow);
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid white;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c3b1e1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c3b1e1;
}

.movie {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}
.special {
  color: #c3b1e1;
}
.movie-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-content > div {
  margin: 20px;
}

.btn-block {
  width: 15%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #e4e0e0;
}

#content {
  background-image: url("../static/image.jpg");
  background-color: #181818;
  font-family: "Noto Sans JP", sans-serif;
}

#details {
  margin-left: 50px;
}

.body-content {
  position: relative;
  min-height: 100%;
}

.footer {
  color: #e4e0e0;
  /* background-color:  #800080; */
  background-color: #000000;
  border: 2px solid white;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.social-icons {
  margin-left: 15px;
}

h1 {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #e0b0ff;
  font-weight: bold;
  margin-top: 30px;
  text-shadow: #000000 0px 0px 13px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.fa-arrow-up {
  font-size: 1.5em;
  color: white;
  background: var(--black);
  padding: 10px;
  border-radius: 50%;
  float: right;
  bottom: 25px;
  position: relative;
  border: 2px solid white;
}

.fa-arrow-up:hover {
  cursor: pointer;
}

.navbar h1 {
  top: -20px;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 530px;
  color: white;
}

.logo{
	right: 1030px;
	position: absolute;
}

.username{
  color: var(--white);
  right:100px;
  position: absolute;
  top:25px;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.name{
  color: var(--special);
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

#autoComplete {
  background-position: 98%;
}

#name {
  color: white;
  padding: 1px;
}

h6 {
  margin-bottom: 20px;
}

.logout {
  top: 20px;
}

@media only screen and (max-width: 650px) {
  .navbar h1 {
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: -20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 140px;
    font-size: 26px;
    color: white;
  }
  .username{
    color: var(--white);
    right:50px;
    position: absolute;
    top:25px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  .navbar {
    height: 60px;
    position: fixed;
    padding-bottom: 10px;
  }
  .logout {
    left: 10px;
    position: fixed;
  }
  #mcontent {
    display: block;
  }
  .poster-lg {
    display: none;
  }
  #details {
    margin-left: 30px;
  }
  #loader {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../static/loader6.gif");
    background-size: 40%;
    background-position: 50% 50%;
    /*background-color: rgba(255,255,255,1);*/
    background-color: black;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
  }

  #loader-text {
    vertical-align: middle;
    color: white;
  }

  #autoComplete {
    background-position: 97%;
  }

  svg[data-toggle="tooltip"] {
    width: 50px;
    height: 50px;
  }

  .fa-arrow-up {
    font-size: 1em;
    color: white;
    background: var(--black);
    padding: 10px;
    border-radius: 50%;
    float: right;
    bottom: 10px;
    position: relative;
    border: 2px solid white;
  }
}

@media only screen and (max-width: 991px) {
  .navbar h1 {
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: -20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 100px;
    font-size: 20px;
    color: white;
    left:120px;
  }
  .navbar {
    height: 80px;
    position: fixed;
    padding-bottom: 10px;
  }
  .logout {
    position: fixed;
    top: 20px;
    width: 70px;
    font-size: 13px;
  }
  .modal-body {
    display: block;
  }
  .profile-pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
  }
  .username{
    color: var(--white);
    right:30px;
    position: absolute;
    top:25px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: none;
  }
  .footer {
    color: #e4e0e0;
    /* background-color:  #800080; */
    background-color: #000000;
    border: 2px solid white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 120%;
    height: 70px;
    font-size: 11px;
    left:-30px;
  }
}
@media only screen and (min-width: 992px) {
  .modal-body {
    display: flex;
  }
  .username{
    color: var(--white);
    right:60px;
    position: absolute;
    top:25px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
  }
  .navbar h1 {
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: -15px;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 570px;
    font-size: 36px;
    color: white;
  }
  .navbar {
    height: 80px;
    position: fixed;
    padding-bottom: 10px;
  }
  .logout {
    left: 15px;
    position: fixed;
    top: 20px;
  }
}

@media only screen and (min-width: 651px) {
  .poster-sm {
    display: none;
  }

  #mcontent {
    display: flex;
    flex-wrap: nowrap;
  }

  #loader {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../static/loader6.gif");
    background-size: 20%;
    background-position: 50% 50%;
    background-color: black;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
  }

  #loader-text {
    vertical-align: middle;
    color: white;
  }
}

.poster {
  -webkit-box-shadow: 0px 1px 15px 4px rgba(250, 250, 250, 1);
  -moz-box-shadow: 0px 1px 15px 4px rgba(250, 250, 250, 1);
  box-shadow: 0px 1px 15px 4px rgba(250, 250, 250, 1);
}

.card:hover {
  cursor: pointer;
}

.castcard:hover {
  cursor: pointer;
}

.cast-img {
  filter: brightness(100%);
  -moz-transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.cast-img:hover {
  filter: brightness(50%);
  -moz-transition: scale(0.75);
  -webkit-transition: scale(0.75);
  transition: scale(0.75);
}

.fig {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(50%);
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
  opacity: 0;
  -moz-transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.fig:hover {
  opacity: 1;
  backdrop-filter: br;
  -moz-transition: scale(0.75);
  -webkit-transition: scale(0.75);
  transition: scale(0.75);
}

.card-btn {
  border-radius: 20px;
}

.imghvr {
  position: relative;
}

.table td {
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.fail {
  display: none;
  color: white;
}
